{{#if showPushNotification}}
  <div class='control-group push-notifications'>
    <label class="control-label">{{i18n 'discourse_push_notifications.title'}}</label>
    <div class="controls">
      <div>
        {{#if pushNotificationSubscribed}}
          {{d-button icon="bell-slash-o" label="discourse_push_notifications.disable" action="unsubscribe"}}
        {{else}}
          {{d-button icon="bell-o" label="discourse_push_notifications.enable" action="subscribe"}}
        {{/if}}
      </div>
    </div>

    <div class='instructions'>
      {{instructions}}
    </div>
  </div>
{{/if}}
